<html>
    <head>
        <meta charset="utf=-8" />
        <title>Notas</title>
        
        <style>
        body{ background-color:#ecbbdd}
        .section1 { height:200px;background-color:white;
         display:flex;align-items:center;
         justify-content:center;
        
        }
        article {width:30%;display:inline-block }
        img {width:100%;height:auto}
        h1,h2,h3{font-family:"calibri"}
     
     .section1 h1{
         font-family:"imprint mt shadow";
         text-align:center;
         text-shadow: 1rem 1rem lightgray; 
     }
        p{font-family:"calibri";font-size: 1.2rem}
  
    h1{ font-size: 3rem }
    h2{ font size: 2rem}
    h3{ font size: 1.50rem}

   li { display:inline; margin: .5rems}    


.seccion-articulo
{
     display: flex;
     flex-wrap:wrap;
     flex-direction: row;
     align-items:flex-start;
     justify-content: space-around;

}

footer
{
    margin=top:50px;
    padding:50px;
    border-top: 1px solid gray;
     background-color:#f6f8f8;
     text-align:center;
}

.contacto
{
    width:100%;
    background-color:black;
    color:white;
    padding:10%;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.contacto form{
    width:30%;
}
input
{
    height:40px;
    width:100%;
    border-radius:4px;
    margin-top:10%;


}
textarea
{
    height:100px;
    width:100%;
    border-radius:4px;
    margin-top:10px;
}
        </style>
        </head>
        <body>
    

     <section class="section1">
         <h1>Notitas.com</h1>

         <ul>
         <li>Home</li>
         <li>Categorias</li>
         <li>Contacto</li>
         </ul>
     </section>
     <h2>Mas Notas</h2>
     <section class="seccion-articulo">
         

         <article>
             <h3>zayn salio de one direction</h3>
             <img src="imagenes/images.jpeg"/>
             <p>decidio ser solista, y hacer sus jiras solo</p>
             <a href="#">ver mas</a>
         </article>

         <article>
             <h3>justin Bieber es geneal</h3>
             <img src="imagenes/3333.jpg"/>
             <p>sus canciones son lo maximo</p>
             <a href="#">ver mas</a>
             </article>

        <article>
           <h3> se aproxima el desfile del 20 de noviembre</h3>
           <img src="imagenes/123.jpg"/>
            <p>los chicos de sistemas se preparan</p>
            <a href="#">ver mas</a>
        </article>
         <article>
             <h3>zayn salio de one direction</h3>
             <img src="imagenes/images.jpeg"/>
             <p>decidio ser solista, y hacer sus jiras solo</p>
             <a href="#">ver mas</a>
         </article>

         <article>
             <h3>justin Bieber es geneal</h3>
             <img src="imagenes/3333.jpg"/>
             <p>sus canciones son lo maximo</p>
             <a href="#">ver mas</a>
             </article>

        <article>
           <h3> las chicas de sistemas 1</h3>
           <img src="imagenes/123.jpg"/>
            <p>son solo 3</p>
            <a href="#">ver mas</a>
        </article>
        
<section class="contacto">
    <form>
        <input name="nombre" placeholder="como te llamas?">
        <input name="telefono" placeholder="telefono">
        <input name="correo"placeholder="Correo electronico">
        <teaxtarea placeholder="que necesitas?"></teaxtarea>
        <input type="button" value="Enviar"
       </form>
    <div>
        AQUI MAPA
    </div>

           </section>
        <footer>
            <a href="#">Contacto</a>
            <a href="#">acerca de</a>
            <a href="#">Terminos y condiciones</a>
            <p>Notitas.com es una marca registrada <br>
            que actua bajo las leyes mexicanas.
            </p>

        </footer>
    </body>
 </html>

